@import "tailwindcss";

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";




.slick-slide {
  display: flex !important;
  justify-content: center;
}
.slick-track {
  display: flex !important;
}
